<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]>       <html class="ie ie10"><!-->
<html class="">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - HomeHelp</title>


    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />



    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">*@
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="~/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
  
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/pace/pace.min.js"></script>
    
    <!-- ================== END BASE JS ================== -->
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="~/assetsOld/plugins/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/assetsOld/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/assetsOld/plugins/masonry.js"></script>

    <script type="text/javascript" src="~/assetsOld/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assetsOld/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/assetsOld/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assetsOld/plugins/knob/js/jquery.knob.js"></script>
    <script type="text/javascript" src="~/assetsOld/plugins/flexslider/jquery.flexslider-min.js"></script>




</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li><img src="~/assets/img/login-bg/home-logo.png" class="logo_img" /></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Account/LogOn"><i class="fa fa-sign-out text_color logout" aria-hidden="true"></i><span class="log text_color">Log Out</span></a></li>

                </ul>
                <!-- begin header navigation right -->
                @*<ul class="nav navbar-nav navbar-right">
                   
                 
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                          
                            <span class="hidden-xs">Admin</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a href="~/Account/ChangePassword">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Account/Logon">Log Out</a></li>
                        </ul>
                    </li>
                </ul>*@
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        @*<div class="image">
                            <a href="javascript:;"><img src="~/assets/img/user-13.jpg" alt="" /></a>
                        </div>*@
                        <div class="info">
                            Administrator
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="has-sub">
                        <a href="@Url.Action("Dashboard", "SuperAdmin", new { key=1})">
                            <i class="fa fa-laptop"></i>
                            <span>Agency</span>
                        </a>

                    </li>
                    <li class="has-sub">
                        <a href="@Url.Action("Individuals", "SuperAdmin", new { key = 1 })">
                            <i class="fa fa-inbox"></i>
                            <span>Individuals</span>
                        </a>
                    </li>
                    <li class="has-sub">
                        <a href="~/Category/Index">
                            <i class="fa fa-laptop"></i>
                            <span>Category</span>
                        </a>

                    </li>
                    <li class="has-sub">
                        <a href="~/Product/Index">
                            <i class="fa fa-laptop"></i>
                            <span>Product</span>
                        </a>

                    </li>
                    <li class="has-sub">
                        <a href="~/PrivacyPolicy/Create">
                            <i class="fa fa-laptop"></i>
                            <span>Privacy Policy</span>
                        </a>

                    </li>
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            @RenderBody()
        </div>
        <!-- end #content -->
       
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/assets/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.js"></script>
    <script src="~/assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/dashboard.min.js"></script>

    <!--tables-->
    <script src="~/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/table-manage-default.demo.min.js"></script>

    <!--Gallary-->
    <script src="~/assets/plugins/isotope/jquery.isotope.min.js"></script>
    <script src="~/assets/plugins/lightbox/js/lightbox-2.6.min.js"></script>
    <script src="~/assets/js/gallery.demo.min.js"></script>

    <script src="~/assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
            Dashboard.init();
            TableManageDefault.init();
            Gallery.init();
            $('ul li.navbar-user').click(function () {
                debugger;
                $('ul li.navbar-user').toggleClass('open');

            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>


</html>
