@model HomeHelp.Models.MembershipModel
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {


        $("#btncancel").click(function (event) {
            debugger;
            event.preventDefault();
            var url = '@Url.Action("Index", "Membership")';
            window.location.href = url;
        });


    });

</script>
<style type="text/css">
    .red {
        color: red;
    }
    .font
    {
        font-weight: bold;
        font-size: 15px;
    }
</style>
@{
    Html.RenderAction("DisplayMessage", "Base", new { ShowMessage = TempData["ShowMessage"], MessageBody = TempData["MessageBody"] });
}



@using (Html.BeginForm("Create", "Membership", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2 class="page-header">Create Membership</h2>
			<!-- end page-header -->
			<!-- begin profile-container -->
    <div class="profile-container">
        <!-- begin profile-section -->
        <div class="col-md-7 col-sm-7">
            <div class="profile-section">

                <div class="profile-info">
                    <!-- begin table -->
                    <div class="">
                        <div class="m-t-10">
                            <div class="field font">Name <span>*</span></div>
                            <div>@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })</div>
                            <div class="red">@Html.ValidationMessageFor(Model => Model.Name)</div>
                        </div>

                        <div class="m-t-10">
                            <div class="field font">Cost<span>*</span></div>

                            <div>@Html.TextBoxFor(model => model.Cost, new { @class = "form-control" })</div>
                            <div class="red">@Html.ValidationMessageFor(Model => Model.Cost)</div>
                        </div>
                        <div class="m-t-10">
                            <div class="field font">Number of smileys <span>*</span></div>
                            <div>@Html.TextBoxFor(model => model.Smileys, new { @class = "form-control" })</div>
                            <div class="red">@Html.ValidationMessageFor(Model => Model.Smileys)</div>
                        </div>

                        <div class="m-t-10">
                            <div class="field font">Hangouts per day<span>*</span></div>

                            <div>@Html.TextBoxFor(model => model.Hangouts, new { @class = "form-control" })</div>
                            <div class="red">@Html.ValidationMessageFor(Model => Model.Hangouts)</div>
                        </div>
                        <div>
                            <div class="field"></div>
                            <div class="m-t-10">
                                <button type="submit" class="btn btn-success m-r-5 m-b-5">Create</button>
                                <input type="button" value="Cancel" class="btn btn-danger m-r-5 m-b-5" onclick="location.href='@Url.Action("Index", "Membership")'" />
                            </div>
                        </div>

                    </div>
                    <!-- end table -->
                </div>
            </div>

        </div>
        <!-- end profile-section -->

    </div>
			<!-- end profile-container -->

}

<ul class="pager">
    <li class="previous"><a href="@Url.Action("Index") ">← Back to List</a></li>
</ul>


